Program requirements for the Journal Entry Program.

Classes:

journalManager - Manages entries, add/remove. - Returns lists 

fileManager - Saves to a file / Loads from a file.

userInputGetter - Gets entries and inputs from a user - Uses strings

promptGenerator - Gives the user a random prompt - Returns strings from a list

menuInterface - Displays everything be it menu's etc. - Returns strings / lists